.header {
    background-color: #484848;
    color: white;
    height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
    font-weight: 700;
}

.text {
    font-size: 3vw;
    line-height: 75px;
}


